/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,600&display=swap");

body {
     background-color: blanchedalmond;
     color: black;
     margin-left: 1vw;
     margin-right: 1vw
}

h1 {
     color: blue;
     font-size: 6vw;
     margin-bottom: 0%;
}

h3 {
     color: blue;
     font-size: 3vw;
     margin-top: .5vh;
}

h5 {
     font-size: 2vw;
     margin: 2vh;
}

p {
     padding: 0%;
}

.kids {
     height: 80%;
}

.toggle-btn {
     padding: 0.35rem;
     background-color: darkslategray;
     color: rgb(180, 180, 44);
}
.dark-mode {
     background-color: rgb(51, 49, 49);
     color: white;
}


/* Home Page Photo Blocks */

#header-text {
     margin: 1vw;
     text-align: center;
     font-family: "Ubuntu", sans-serif;
}

#parent {
     margin: 0;
     padding: 0;
}

#dark-mode {
     padding-left: 2rem;
     margin-left: 2rem;
}

#PhotoBlock {
     display: flex;
     flex-flow: row;
     height: 25vh;
     align-items: center;
     justify-content: space-around;
     align-items: center;
}

#ParentBlock {
     display: flex;
     height: 100%;
     flex-grow: 2;
     flex-flow: column;
     justify-content: space-around;
}

#PetBlock {
     display: flex;
     flex-flow: row;
     max-height: 20vh;
     justify-content: space-around;
     align-items: center;
     margin-top: 15vw;
}

#KidsBlock {
     display: flex;
     height: 100%;
     flex-grow: 3;
     flex-flow: column;
     justify-content: space-around;
}

#GirlsBlock {
          flex-grow: 3;
          display: flex;
          flex-flow: row;
          justify-content: space-around;
     }

     #GuysBlock {
          flex-grow: 3;
          display: flex;
          flex-flow: row;
          justify-content: space-around;
     }

     #FamilyBlock {
          height: 90%;
          flex-grow: 3;
          display: flex;
          flex-flow: column;
     }
